.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(187, 170, 170);
  height:40px;
  padding:20px;
}
.mid{
  color:black;
  font-size: large;
  
}
.mid a{
  color:black;
  text-decoration: none;
  margin-left: 120px;
}
.symbol a{
  color: grey;
  margin-left:50px;
}
.content{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:30px 0 0 0
}
.left{
  width:30%
}

.right img{
  width: 700px;
  height: 400px;
}
.footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(69, 62, 62);
  color: white;
  font-size: large;
  padding:20px;
}